html {
    font-size: 10px;
}

body {
    background: linear-gradient(#3b3b3b, #2b2b2b);
    height: 100%;
    color: whitesmoke;
    font-size: 1.4rem;
    margin: 2rem 0;
    padding: 2rem;
    text-align: center;

}

.player{
    background: radial-gradient(#211e24, #4f3341);
    padding: 2rem;
    border-radius: 2rem;
}

img {
    width: 50%;
}